h1 {
    text-align: center;
    font-style: italic;
}
body {
    background-image: url("https://img.freepik.com/premium-vector/banking-business-banner-finance-savings-silhouette-city-background_48369-11854.jpg?w=2000");
    background-color: #cccccc;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button.verify {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
button {
    width: 100px;
    margin: auto;
}